* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
}

.img1 {
    background-image: url(https://wallpaperaccess.com/full/3566407.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
}

h2 {
    color: aqua;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-group{ margin: 20px 0px; }
input{ height: 30px; width: 450px; padding: 5px; text-align: center;}
button{ 
    background: dodgerblue; 
    color: #fff; 
    padding: 10px; 
    border: solid 1px rgb(0, 128, 255);
    cursor: pointer;
}

main{
    text-align: center;
    margin: 100px;
}

@media screen and (max-width: 960px) {
    .img1{
        background-position: -315px;
        
    }

}


@media screen and (max-width: 480px) {
    .img1{
        background-position: -320px;
        
    }

}

@media screen and (max-height:600px) {
    .img1{
        background-position: center;
        
    }
}